
.guidelinesBox, .submissionBox, .manuscript, .titlePage, .AuthourPage, .AbstractPage, .Keyword, .Literature, .Proposals, .Equations, .Figure, .Table, .research {
  background-color: #03396c; /* Set background color to #03396c */
  color: white; /* Set text color to white */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  margin: 30px auto;
  text-align: justify;
  border: 4px solid gold;
}

.guidelinesBox h2, .submissionBox h2, .manuscript h2, .titlePage h2, .AuthourPage h2, .AbstractPage h2, .Keyword h2, .Literature h2, .Proposals h2, .Equations h2, .Figure h2, .Table h2, .research h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.manuscript ul ul li {
  list-style-type: decimal;
}
.manuscript li{
  list-style-type: circle;
}

.guidelinesBox p, .submissionBox p, .manuscript h3, .manuscript ul li, .titlePage p, .AuthourPage p, .AbstractPage p, .Keyword p, .Literature p, .Proposals p, .Equations p, .Figure p, .Table p, .research p {
  margin-bottom: 8px;
}

.manuscript h3 {
  font-size: 15px;
  font-weight: bold;
}

.manuscript ul {
  list-style-type: none;
  padding: 0;
}

.manuscript ul ul {
  margin-left: 20px;
}

.Keyword a {
  color: red;
}

@media (max-width: 480px) {
  .submissionBox, .titlePage, .AuthourPage, .AbstractPage, .Keyword, .Literature, .Proposals, .Equations, .Figure, .Table {
      font-size: 16px;
      padding: 20px;
  }
}
