*{
    margin: 0;
    font-family:'Times New Roman', Times, serif;
    scroll-behavior: smooth;
    font-size: 18px;

}


.App {

    background-color: #1A3E7A ; 
    padding: 50px; 
    color: #FFFFFF; 
    min-height: 100vh; 
    box-sizing: border-box; 
    margin: 0;
    border:0;
    display: flex; 
    flex-direction: column; 
  }
  
  @media (max-width: 600px) {
    .App {
      font-size: 12px; 
      padding: 10px;
    }
  }


  h2 {
    position: relative;
    display: inline-block;
    color: gold;
  }
  @media (max-width: 500px) {
    h2 {
      font-size: 2px; /* Adjust as needed for mobile screens */
    }
  }
