*{
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

  .boxStyle {
    background-color: #f0f8ff;
    color: #03396c;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    max-width: 90%; 
    margin: 30px auto;
    text-align: left;
    line-height: 1.4;
    font-size: 18px;
    text-align: justify;
    border: 2px solid #b0e0e6;
  }
  
  .boxStyle h2 {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
  }
  
  .boxStyle ul {
    list-style-type: square;
    padding-left: 20px; 
    margin: 0; 
  }
  
  .boxStyle ul li {
    margin-bottom: 10px; 
    word-wrap: break-word; 
  }
  
  @media (max-width: 480px) {
    .boxStyle {
      font-size: 13px;
      padding: 20px; 
      margin: 20px auto; 
    }
    .boxStyle h2 {
      font-size: 18px;
    }
    .boxStyle ul li {
      margin-bottom: 8px; 
      word-wrap: break-word; 
    }
  }
  

  .visionBox {
    background-color: #f0f8ff; 
    color: #03396c;
    padding: 30px; 
    border-radius: 10px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); 
    max-width: 90%; 
    margin: 30px auto; 
    text-align: left;
    line-height: 1.7;
    font-size: 18px; 
    border: 2px solid #b0e0e6; 
    text-align: justify;
  }
  
  .visionBox h2 {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
    color: #0276FD;
  }
  
  .visionBox h3 {
    font-weight:500 ;
    color: black;
  }
  
  .visionBox ul {
    padding-left: 20px; 
    list-style-type:square;
  }
  
  @media (max-width: 768px) {
    .visionBox {
      font-size: 16px;
      padding: 20px; 
    }
  
    .visionBox h2 {
      font-size: 24px; 
    }
  
    .visionBox h3 {
      font-size: 20px; 
    }
  }
  
  @media (max-width: 480px) {
    .visionBox {
      font-size: 13px; 
      padding: 15px; 
    }
  
    .visionBox h2 {
      font-size: 18px; 
    }
  
    .visionBox h3 {
      font-size: 15px; 
    }
  }
  
  .featuresBox {
    background-color: #f0f8ff; 
    color: #03396c; 
    padding: 30px; 
    border-radius: 10px; 
    box-shadow: 0 8px 16px rgba(0,0,0,0.1); 
    max-width: 90%;
    margin: 30px auto;
    text-align: left; 
    line-height: 1.4; 
    font-size: 18px; 
    border: 2px solid #b0e0e6; 
    text-align: justify;
  }
  
  .featuresBox h2 {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
    color: #0276FD; 
  }
  
  .featuresBox ul {
    list-style-type: square;
    padding-left: 20px; 
  }
  
  @media (max-width: 480px) {
    .featuresBox {
      font-size: 13px; 
      padding: 20px; 
      margin: 20px auto; 
      max-width: 90%; 
    }
    .featuresBox h2 {
      font-size: 18px;
    }
  }
  
  

  .tableBox {
    font-size: 18px;
    background-color: #f0f8ff; 
    color: #03396c; 
    padding: 30px;
    border-radius: 10px; 
    box-shadow: 0 8px 16px rgba(0,0,0,0.1); 
    margin-bottom: 30px;
    line-height: 1.8; 
    text-align: justify;

  }
  .tableBox h2 {
    color: #0276FD;
    font-size: 24px;
  }
  .tableStyle {
    width: 100%;
    border-collapse: collapse; 
    margin-top: 20px; 
    overflow-x: auto; 
  }
  
  .thStyle {
    background-color: #022B3A; 
    color: #FFFFFF; 
    padding: 10px; 
  }
  
  .tdStyle {
    border: 1px solid #ddd; 
    padding: 10px; 
    text-align: left; 
  }
  .tableBox ul li{
    list-style-type: square;
}

  @media (max-width: 480px) {
    .tableBox {
      padding: 20px; 
      font-size: 14px;
    }
  
    .tableStyle {
      display: block; 
      width: auto; 
    }
    .tableBox ul li{
        font-size: 10px;
    }
  
    .thStyle,
    .tdStyle {
      padding: 8px; 
    }
  
    .tdStyle {
      border: none; 
      border-bottom: 1px solid #ddd; 
      padding-top: 12px; 
      padding-bottom: 12px; 
    }
  
    .tdStyle:last-child {
      border-bottom: none; 
    }
  }
  